*{
text-align: center;
}

nav{
font-family: Chilanka;
}


html, body{
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

#nav-bar{
background-color: black;
color: #8226FF;
position: fixed;
top: 0;
width: 100%;
z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
display: flex;
justify-content: space-around;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body{
padding-top: 90px;
}
