.text-titles {
    font-family: "ZCOOL XiaoWei", serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.text-titles-smaller {
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}
.bottom-border {
    font-size: 21px;
    line-height: 25px;
}
.image-container {
    display: flex;
    justify-content: center;
}
.image-border {
    border: 5px solid #822FF6;
}
.text-color-size {
    color:blue;
    font-size: 23px;
    line-height: 29px;
}
.section-box {
    display: flex;
    border: 2px solid red;
}