
.helper-two {
    justify-content: center;
    margin-top: 50px;
}

.helper-four {
    margin: 10px;
}

.text-box-title {
    text-align: center;
    font-size: 26px;
}

.base-color {
    color: #822FF6;
    font-size: 30px;
}

.helper-one {
    font-size: 22px;
}
.helper-three {
    background-color: gray;
}
.secondary-color {
    color: rgb(223, 195, 238);
}
.my-background {
    color: rgb(223, 195, 238);
}
.my-background:hover {
    border-bottom: 3px solid yellow;
    color: rgb(223, 195, 238);
}

.my-font {
    font-family: "ZCOOL XiaoWei", serif;
    color: rgb(128, 0, 255);
    font-weight: bold;
}
.image-box {
    box-shadow: 0 4px 6px 0;
}
.image-box:hover {
    border: 5px solid yellow;
}
.top-border {
    border-top: 6px solid #822FF6;
}